body {
    font-family: 'Lora', Georgia, serif;
    font-size: 1.125rem;
    line-height: 1.8;
    color: #636e72;
    background-color: #a275cf;
    background-attachment: fixed;
    padding: 1 .5rem;
}

h1, h2, h3 {
    font-family: 'Playfair Display', Georgia, Serif;
    font-weight: 700;
    line-height: 1.2;
    color: #2c5f7c;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid #e8a87c;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}