@charset "utf-8";

html {
    font: 120%/1.2 "Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* collapse borders*/
table {
    border-collapse: collapse;
    caption-side: top;
}

td, th {
    border: 1px solid #666;
    padding: 0.5em;
}
th {
    background: rgba(225,225,225,1);
}
/* Align table headings in the table body */
tbody th {
    text-align: right;
}


tfoot td {
    font-size: 60%;
}
caption {
    font-size: 150%;
}
